.row{
  clear: both;
}

.cell, .apple{
  float: left;  
}

.cell {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}