h1, h3, p {
  margin: 5px 0px;
}
.row{
  clear: both;
}

.cell, .apple{
  float: left;  
}

.cell {
  height: 20px;
  width: 20px;
/*  border: 1px solid black; //enable this to add cell boxes */ 
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

#board{
  display: inline-block;
  border: 1px blue solid;
/*  position: absolute;*/
/*  left: 200px;*/

}

.wrapper {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  min-width: 502px;
}

.lose-message.show {
  display:block;
}

.lose-message{
  display: none;
  position: relative;
  top: 350px;
  font-size: 20px;
  font-weight: bold; 
}